@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Urbanist:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Urbanist:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: black;
}
section::after {
  background-image: url("spacex.jpg");
  content: "";
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
img {
  cursor: pointer;
  margin-left: 100px;
}
h1 {
  opacity: 2;
  color: white;
  font-weight: lighter;
  font-family: "Open Sans", sans-serif;
  margin-top: 10%;
  font-size: 50px;
  z-index: -1;
}
.align {
  margin-left: 15%;
}
img:hover {
  opacity: 0.8;
}
nav {
  width: 100%;
  height: 60px;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
}
ul {
  list-style-type: none;
  display: flex;
}
ul li {
  margin: 30px;
  cursor: pointer;
}
ul li:hover {
  color: rgb(153, 153, 153);
}
p {
  font-size: 25px;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
}
a {
  border: 1px solid white;
  padding: 6px 10px;
  display: inline-block;
  font-weight: 500;
  color: black;
  background-color: white;
  text-decoration: none;
  margin-top: 30px;
}
a:hover {
  opacity: 0.8;
}
