@media (max-width: 500px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }
  #logo {
    margin-left: 40px;
    width: 58%;
  }
  #menu {
    visibility: visible;
    font-size: 33px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 5px 13px;
    color: rgba(0, 0, 0, 0.5);
    transition: border-color 0.1s;
  }
  #menu:active {
    border-color: coral;
    transition: 0.1s;
  }
  #menu:focus {
    border-color: coral;
  }
  nav ul {
    display: none;
  }
  .align {
    margin-left: 8%;
  }
  #content {
    margin-top: 50px;
  }
  #content h1 {
    font-size: 50px;
    font-weight: 500;
  }
  #para {
    font-size: 30px;
  }
  #contact {
    transition: none;
  }
  #contact:hover {
    transition: none;
    background-color: rgba(255, 255, 255, 0.57);
    padding: 10px 30px;
  }
  #midtitl {
    font-size: 30px;
    padding: 0 20px;
  }
  #cardsec {
    flex-direction: column;
    padding: 10px;
    margin-right: 20px;
  }
  .cards {
    width: 100%;
    height: 100%;
    margin: 50px 10px;
    padding-bottom: 40px;
  }
  .cardpara {
    font-size: 20px;
    margin: 20px 50px;
  }
  .land {
    display: block;
    margin-bottom: 350px;
  }
  #midsec {
    padding: 0 20px;
  }
  .self {
    width: 100%;
    height: 100%;
    margin-bottom: 200px;
    position: relative;
  }
  .self .midcard {
    color: white;
    width: 100%;
    height: 140%;
    padding: 0 35px;
    margin: 0;
    padding-bottom: 200px;
    position: absolute;
    top: 95%;
    left: 0;
  }
  #clean {
    left: 0;
  }
  #cleaning {
    left: 0;
    top: 95%;
  }
  #gas {
    width: 100%;
    height: 160%;
  }
  .midcard p:nth-of-type(1) {
    margin-top: 0;
    padding-top: 18px;
  }
  .midcard p:nth-of-type(2) {
    font-size: 20px;
  }
  .midcard a {
    font-size: 18px;
  }
  #robo {
    margin-top: 350px;
    margin-bottom: 50px;
  }
  #quote {
    padding-left: 10px;
    padding-right: 10px;
  }
  #midfoot {
    flex-direction: column;
    text-align: center;
    padding: 50px 10px;
  }
  #statement {
    margin: 0;
  }
  #midfoot div:nth-of-type(2) {
    padding: 0;
    padding-top: 40px;
  }
  footer {
    flex-direction: column;
    text-align: center;
    padding-left: 40px;
  }
  footer div p:nth-of-type(1) {
    font-size: 15px;
  }
  footer div:nth-of-type(1) p a {
    font-size: 19px;
  }
  footer div {
    margin-top: 0;
    margin-right: 50px;
  }
  footer div:nth-of-type(2) p {
    font-size: 15px;
  }
  footer div:nth-of-type(3) p {
    font-size: 18px;
  }
  #toogle {
    padding-bottom: 20px;
  }
  #toogle p a {
    text-decoration: none;
    color: black;
  }
  #toogle p {
    margin-left: 30px;
    margin-top: 20px;
  }
  #cross {
    display: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 5px 13px;
    transition: border-color 0.1s;
  }
  #cross:active {
    border-color: coral;
    transition: 0.1s;
  }
  #cross:focus {
    border-color: coral;
  }
}
